__pycache__/
/bert-ner/finetuning/

conll_gcn/gcn.h5
conll_gcn/gcn_embedding.ipynb
conll_gcn/gcn_embedding.py
conll_gcn/model.0.01.h5
conll_gcn/model.0.06.h5
conll_gcn/model.ep1.h5
conll_gcn/model.ep50.h5
conll_gcn/my_model.h5
.vscode/
bert-ner/.ipynb_checkpoints/
bert-ner/checkpoints/

text_gcn/conll2003_wv/conll_ind.x
text_gcn/core_model/.ipynb_checkpoints/
text_gcn/core_model/buil_graph_gcn.ipynb
text_gcn/core_model/train.py
